/backend/venv
/backend/rag_model
/backend/__pycache__
/backend/app/__pycache__
/backend/app/data
/volumes
/backend/app/faiss_pdf_rag/models/all-MiniLM-L6-v2-f16.gguf
/backend/app/milvus_pdf_rag/data
/backend/app/faiss_pdf_rag/vectorstores/db_faiss/index.faiss
/backend/app/faiss_pdf_rag/vectorstores/db_faiss/index.pkl
.env
