fastapi
uvicorn
python-dotenv
sqlmodel

# LangChain core + community + integration
langchain
langchain-community
langchain-ollama
langchain-huggingface

# Embedding, Transformers
transformers
sentence-transformers
torch

# FAISS for vector store
faiss-cpu

# Ollama Python client
ollama

pypdf